@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

::-webkit-input-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: #29abe0;
  color: #fff; }

::selection {
  background-color: #29abe0;
  color: #fff; }

/*Basic settings*/
html, body {
  margin: 0;
  padding: 0;
  font-size: 10px; }

body {
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Montserrat-Regular";
  overflow-x: hidden;
  color: #333; }
  body input, body textarea {
    border: #666 1px solid;
    outline: none; }
    body input:focus:required:invalid, body textarea:focus:required:invalid {
      border-color: red; }
    body input:required:valid, body textarea:required:valid {
      border-color: green; }

a {
  color: #505050; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }
  .img-responsive.img-width {
    width: 100%; }

.text-center {
  text-align: center; }

.hidden-element {
  overflow: hidden;
  display: none; }

/*1 section*/
#aboutS {
  scroll-behavior: smooth; }

.header-section {
  display: block;
  position: relative;
  left: 10vw;
  width: 80vw; }

.wrapper-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 13.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrapper-header img {
    width: 34.7rem;
    height: 5.8rem; }

.wrapper-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contacts-header span {
  margin-right: 14px;
  display: block;
  color: #505050; }
  .contacts-header span:nth-child(1) {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Montserrat-SemiBold";
    line-height: 1.2;
    text-align: right; }
  .contacts-header span:nth-child(2) {
    font-size: 1.6rem;
    font-family: "Montserrat-Regular";
    line-height: 1.7; }

.button {
  background-color: #29abe0;
  border: none;
  width: 199px;
  height: 43px;
  border-radius: 15px;
  font-size: 1.4rem;
  font-family: "Montserrat-SemiBold";
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .button:hover {
    background-color: #54c5f3; }

.question {
  width: 32rem;
  height: 6rem;
  margin-top: 13rem; }

.wrapper-banner {
  position: relative;
  width: 100vw;
  height: 87vh; }

.bg-img {
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2f36; }
  .bg-img::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

.social-ico {
  display: block;
  position: absolute;
  top: 37%;
  left: 1%; }
  .social-ico ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .social-ico ul li {
      margin-top: 3rem; }
      .social-ico ul li a {
        display: block;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .social-ico ul li a:hover {
          -webkit-transform: translateX(1rem);
              -ms-transform: translateX(1rem);
                  transform: translateX(1rem); }
      .social-ico ul li img {
        width: 2.4rem;
        height: auto; }

.slogan-box {
  width: 70rem;
  position: absolute;
  top: 10%;
  right: 3%;
  color: #ffffff; }

.slogan {
  display: block;
  margin: 3rem;
  cursor: default; }
  .slogan::before {
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 12.2rem;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .slogan:nth-child(3)::before {
    height: 15.5rem; }
  .slogan span {
    padding: 0;
    margin: 0;
    margin-left: 3rem; }
    .slogan span:nth-child(1) {
      font-family: "Montserrat-Bold";
      font-size: 4.5rem;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .slogan span:nth-child(1):hover {
        color: #29abe0; }
    .slogan span:nth-child(2) {
      font-family: "Montserrat-Medium";
      font-size: 2rem;
      display: block;
      margin-top: -7px; }

.mouse-down {
  position: absolute;
  top: 90%;
  left: 50%; }
  .mouse-down img {
    width: 2rem;
    height: auto; }

/*1 section END*/
/*2 section */
.review-section {
  width: 100vw;
  height: auto;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #fefefe), to(#f6f6f6));
  background: -webkit-linear-gradient(left, #fefefe 70%, #f6f6f6);
  background: -o-linear-gradient(left, #fefefe 70%, #f6f6f6);
  background: linear-gradient(90deg, #fefefe 70%, #f6f6f6);
  padding-bottom: 4rem; }

.container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17rem; }
  .navigation ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navigation ul li {
      display: inline-block;
      margin: 2.5rem; }
      .navigation ul li a {
        text-decoration: none;
        font-size: 1.8rem;
        font-family: "Montserrat-SemiBold";
        color: #2e2f36;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .navigation ul li a:hover {
          color: #29abe0; }

.heading-section {
  text-align: center;
  margin: 7rem 0; }
  .heading-section h2 {
    color: #2e2f36;
    font-family: "Montserrat-Bold";
    font-size: 4rem; }
  .heading-section h5 {
    color: #505050;
    font-family: "Montserrat-Medium";
    font-size: 1.8rem; }

.info-items {
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 86rem;
  height: 30rem;
  position: relative; }

.info-text-viewport {
  display: block;
  width: 45rem;
  height: 18rem;
  position: relative; }

.info-text-item {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
  width: 42rem;
  height: auto;
  font-family: "Montserrat-Medium";
  font-size: 1.6rem;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

.info-desctiption {
  font-family: "Montserrat-SemiBold";
  font-size: 1.8rem;
  position: relative;
  width: 40rem;
  height: auto; }
  .info-desctiption ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .info-desctiption ul li {
      margin: 1rem;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      cursor: pointer;
      display: block;
      height: 3rem; }
      .info-desctiption ul li a {
        text-decoration: none;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        font-family: "Montserrat-SemiBold";
        border: 1px solid transparent; }
        .info-desctiption ul li a:hover {
          color: #29abe0;
          font-size: 2rem;
          font-style: "Montserrat-Bold"; }

.active-item {
  color: #29abe0;
  font-size: 2rem;
  font-style: "Montserrat-Bold"; }

.slide-viewport {
  outline: 1px solid red;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 10%;
  width: 25rem;
  height: 80rem;
  -webkit-filter: blur(15px);
          filter: blur(15px); }

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(0px);
          filter: blur(0px); }
  .slide img {
    width: 70vw;
    -webkit-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
            transform: translateX(-500px); }

.text-frame {
  width: 80rem;
  font-size: 1.5rem; }

/*2 section END*/
.to-top {
  width: 3rem;
  height: 3rem; }

.to-top-action {
  z-index: 1;
  position: fixed;
  right: 10rem;
  bottom: 10rem; }

/*3 section*/
.client-feedback {
  width: 100vw;
  height: auto;
  color: #505050;
  display: block;
  position: relative;
  margin-bottom: 4rem; }

.client-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.client-slide-control {
  font-size: 3rem;
  position: absolute;
  top: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }
  .client-slide-control span {
    display: block;
    height: 20rem;
    width: 4rem; }
    .client-slide-control span:hover {
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      font-size: 4rem; }

.client-slider-container {
  display: block;
  width: 100rem;
  height: 35rem;
  position: relative;
  margin-bottom: 10rem; }

.client-slide-viewport {
  display: block;
  width: 90rem;
  left: 5%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.client-slide-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  left: -30rem; }

.client-item-box {
  display: block;
  width: 30rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .client-item-box span {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    display: block;
    font-family: "Montserrat-Medium"; }
    .client-item-box span:nth-child(1) {
      margin-bottom: 1.2rem;
      font-size: 2rem;
      font-family: "Montserrat-Bold"; }
    .client-item-box span:nth-child(2) {
      font-family: "Montserrat-Medium";
      font-size: 1.5rem;
      line-height: 1.2; }
    .client-item-box span:nth-child(3) {
      margin-top: 0.5rem;
      text-align: left;
      font-style: italic;
      opacity: 0.5; }

.client-photo {
  display: block;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .client-photo img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.client-content {
  padding: 2rem; }

/*3 section END*/
/*4 section*/
.about-product {
  position: relative;
  display: block;
  width: 100vw;
  height: auto;
  background-color: #f3f3f3;
  padding-bottom: 4rem; }

.wrapper-about-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.accordion-button-item {
  width: 100rem;
  text-align: left;
  padding: 0;
  margin-top: 1.3rem;
  font-size: 2.5rem;
  font-family: "Montserrat-Bold";
  color: #29abe0;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .accordion-button-item::after {
    content: ' +'; }

.accordion-button-item-active::after {
  content: ' -'; }

.afterfix::after {
  content: ' -'; }

.panel-item {
  font-family: "Montserrat-Medium";
  font-size: 1.8rem;
  display: none;
  width: 100rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.opened {
  display: block; }

.about-item {
  display: block; }
  .about-item:nth-last-child(1) {
    margin-bottom: 2rem; }

/*4 section END*/
/*5 section*/
.map-for-client {
  width: 100vw;
  height: auto;
  margin-bottom: 5rem; }

.map-for-client-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.map-gl {
  display: block;
  width: 117rem;
  height: 60rem; }

/*5 section END*/
/*6 section*/
.product-delivery {
  width: 100vw;
  height: auto;
  display: block;
  background-color: #f3f3f3;
  margin-bottom: 5rem;
  padding-bottom: 5rem; }

.product-delivery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-delivery-description {
  width: 60vw;
  margin-bottom: 5rem; }
  .product-delivery-description p {
    font-family: "Montserrat-Medium";
    font-size: 1.8rem; }

.head-span {
  font-size: 2rem;
  font-family: "Montserrat-Bold"; }

/*6 section END*/
/*footer section*/
.footer-section {
  width: 100vw;
  height: 35rem;
  display: block;
  background-color: #ffffff; }

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-phone span {
  font-size: 1.5rem;
  display: block;
  text-align: right;
  font-family: "Montserrat-Medium";
  color: #505050; }

.footet-social {
  margin: 3rem; }
  .footet-social a {
    margin: 0 1.5rem; }
  .footet-social img {
    width: 3rem;
    height: auto; }

.footer-reg-info {
  display: block;
  width: 40rem;
  font-size: 10px;
  color: #505050;
  text-align: center; }

/*footer section END*/
/*overlay ORDER*/
.overlay-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.7);
  z-index: 2; }

.overlay-show {
  display: block; }

.form-wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2; }

.order, .form-call {
  -webkit-animation: fadeIn 1.3s;
          animation: fadeIn 1.3s;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100rem;
  height: 70rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 3rem; }
  .order a, .form-call a {
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    -webkit-transition: ease-in 0.5s;
    -o-transition: ease-in 0.5s;
    transition: ease-in 0.5s; }
    .order a:hover, .form-call a:hover {
      -webkit-transition: ease-in 0.5s;
      -o-transition: ease-in 0.5s;
      transition: ease-in 0.5s;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .order a img, .form-call a img {
      width: 100%;
      height: 100%; }

.left-box {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.image-box {
  width: 100%;
  height: 70%;
  background-image: url(../image/form/order.png);
  background-position: -100px -230px;
  background-repeat: no-repeat; }

.image-box-call {
  width: 100%;
  height: 70%;
  background-image: url(../image/form/call.png);
  background-position: -120px 0;
  background-repeat: no-repeat; }

.slog-box {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2; }
  .slog-box span {
    display: block;
    color: #505050;
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    margin-left: 4rem; }

.right-box {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .right-box input {
    border: 1px solid #29abe0;
    width: 199px;
    height: 43px;
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: #505050; }
    .right-box input::-webkit-input-placeholder {
      color: #29abe0;
      opacity: 0.7;
      font-family: "Montserrat-Regular";
      font-size: 1.3rem; }
    .right-box input:-ms-input-placeholder {
      color: #29abe0;
      opacity: 0.7;
      font-family: "Montserrat-Regular";
      font-size: 1.3rem; }
    .right-box input::-ms-input-placeholder {
      color: #29abe0;
      opacity: 0.7;
      font-family: "Montserrat-Regular";
      font-size: 1.3rem; }
    .right-box input::placeholder {
      color: #29abe0;
      opacity: 0.7;
      font-family: "Montserrat-Regular";
      font-size: 1.3rem; }
    .right-box input:focus {
      border: 2px solid #29abe0;
      -webkit-transition: opacity 0.6s ease;
      -o-transition: opacity 0.6s ease;
      transition: opacity 0.6s ease; }
      .right-box input:focus::-webkit-input-placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.6s ease;
        -o-transition: opacity 0.6s ease;
        transition: opacity 0.6s ease; }
      .right-box input:focus:-ms-input-placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.6s ease;
        -o-transition: opacity 0.6s ease;
        transition: opacity 0.6s ease; }
      .right-box input:focus::-ms-input-placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.6s ease;
        -o-transition: opacity 0.6s ease;
        transition: opacity 0.6s ease; }
      .right-box input:focus::placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.6s ease;
        -o-transition: opacity 0.6s ease;
        transition: opacity 0.6s ease; }
  .right-box .button {
    margin-top: 1rem; }

.message-for-form {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: -3;
  top: 0;
  left: 0; }
  .message-for-form h3 {
    font-family: "Montserrat-Bold";
    font-size: 5rem;
    color: #29abe0; }
  .message-for-form h5 {
    font-family: "Montserrat-Medium";
    font-size: 4rem; }

.message-for-form-action {
  opacity: 1;
  z-index: 3; }

/*overlay ORDER END*/
/*Animation Keyframe*/
@-webkit-keyframes fadeIn {
  0% { }
  opacity: 0;
  100% { }
  opacity: 1; }
@keyframes fadeIn {
  0% { }
  opacity: 0;
  100% { }
  opacity: 1; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1900px) {
  /**/ }

@media only screen and (max-width: 1370px) {
  html, body {
    font-size: 8px; }
  /*Section 1*/
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .mouse-down {
    top: 87%; }
  /*Section 1 END*/
  /*Section 2*/
  .navigation {
    height: 12rem; }
  .slide-viewport {
    height: 70rem;
    -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
            transform: translateX(-100px); }
  .question {
    margin-top: 8rem;
    margin-bottom: 1rem; }
  /*Section 2 END*/
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /*Section 2*/
  .review-section {
    height: auto;
    margin-bottom: 3rem; }
  /*Section 2 END*/
  /*Section 3*/
  .client-feedback {
    height: auto;
    margin-bottom: 3rem; }
  /*Section 3 END*/
  /*Section 4*/
  .about-product {
    height: auto;
    margin-bottom: 3rem; }
  /*Section 4 END*/
  /*Section 5 */
  .map-gl {
    width: 80rem; }
  /*Section 5 END*/
  /*footer section*/
  .footer-logo img {
    width: 35rem;
    height: auto; }
  /*footer section END*/
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Section 1*/
  .wrapper-header img {
    width: 25rem;
    height: auto; }
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contacts-header span:nth-child(1) {
      font-size: 1.2rem; }
    .contacts-header span:nth-child(2) {
      font-size: 1.1rem; }
  .button {
    width: 15rem;
    font-size: 1.1rem; }
  .social-ico {
    top: 28%;
    left: 20%; }
    .social-ico ul li {
      margin-top: 2rem; }
  .slogan-box {
    top: 17%;
    right: 8%; }
  /*Section 1 END*/
  /*Section 2*/
  .review-section {
    height: auto; }
  .info-items {
    width: 75rem; }
  .info-text-item {
    width: 30rem; }
  /*Section 2 END*/
  /*Section 3*/
  .client-slider-container {
    width: 34rem; }
  .client-slide-viewport {
    width: 30rem; }
  /*Section 3 END*/
  /*Section 4*/
  .accordion-button-item {
    width: 50rem; }
  .panel-item {
    width: 50rem; }
  /*Section 4 END*/
  /*Section 5 */
  .map-gl {
    width: 45rem; }
  /*Section 5 END*/
  /*footer section*/
  .footer-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-logo img {
    margin-bottom: 3rem; }
  .footer-phone span {
    text-align: center; }
  /*footer section END*/
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /*Section 1*/
  .wrapper-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20.6rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper-header img {
      margin-top: 1rem;
      width: 32rem; }
  .wrapper-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0.9rem; }
  .button {
    margin-top: 0.9rem; }
  .bg-img {
    background-position: -32rem; }
    .bg-img::before {
      content: ''; }
  .social-ico {
    top: 1rem;
    left: 1rem; }
  .slogan-box {
    top: 20rem;
    left: 20rem; }
  .slogan {
    width: 20rem; }
    .slogan:nth-child(3)::before {
      height: 14rem; }
    .slogan span:nth-child(1) {
      font-size: 3.9rem; }
    .slogan span:nth-child(2) {
      font-size: 1.8rem; }
  .mouse-down {
    top: 88%; }
  /*Section 1 END*/
  /*Section 2*/
  .navigation {
    height: 23rem;
    margin-top: 1rem; }
    .navigation ul li {
      display: block;
      text-align: center; }
  .heading-section {
    margin-top: 40px;
    margin-bottom: 30px; }
    .heading-section h2 {
      font-size: 3rem; }
  .info-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .info-text-viewport {
    width: 40rem; }
  .info-text-item {
    width: 40rem; }
  .info-desctiption {
    z-index: 1;
    text-align: center; }
    .info-desctiption ul {
      display: block;
      margin-bottom: 2rem; }
  .slide-viewport {
    display: none; }
  /*Section 2 END*/
  /*Section 4*/
  .accordion-button-item {
    font-size: 1.9rem;
    width: 40rem; }
  .panel-item {
    width: 40rem; }
  /*Section 4 END*/
  /*overlay*/
  .left-box {
    width: 20%; }
  .slog-box {
    position: absolute;
    bottom: 0; }
    .slog-box span {
      text-align: center;
      font-size: 3rem;
      margin: 2rem 0; }
  .right-box {
    width: 80%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    top: 20%; }
  /*overlay END*/
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  html, body {
    background-color: blue;
    overflow: hidden;
    font-size: 8px; }
  /*Section 1*/
  .wrapper-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .contacts-header span {
    margin: 0;
    text-align: center; }
    .contacts-header span:nth-child(1) {
      text-align: center; }
  .bg-img {
    background-position: -270px; }
  .slogan-box {
    right: 0;
    left: 40%;
    top: 25%; }
  .slogan {
    width: 20rem; }
    .slogan span:nth-child(1) {
      font-size: 3.2rem; }
    .slogan span:nth-child(2) {
      font-size: 1.5rem; }
    .slogan::before {
      content: none; }
  /*Section 1 END*/
  /*Section 2*/
  /*Section 2 END*/
  .info-text-viewport {
    width: 30rem; }
  .info-text-item {
    width: 30rem; }
  /*Section 4*/
  .accordion-button-item {
    font-size: 1.9rem;
    width: 37rem; }
  .panel-item {
    width: 37rem; }
  /*Section 4 END*/
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
/*# sourceMappingURL=main.css.map */
