@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

::-webkit-input-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: #29abe0;
  color: #fff; }

::selection {
  background-color: #29abe0;
  color: #fff; }

/*Basic settings*/
html, body {
  margin: 0;
  padding: 0;
  font-size: 10px; }

body {
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Montserrat-Regular";
  overflow-x: hidden;
  color: #333; }
  body input, body textarea {
    border: #666 1px solid;
    outline: none; }
    body input:focus:required:invalid, body textarea:focus:required:invalid {
      border-color: red; }
    body input:required:valid, body textarea:required:valid {
      border-color: green; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }
  .img-responsive.img-width {
    width: 100%; }

.text-center {
  text-align: center; }

.hidden-element {
  overflow: hidden; }

/*1 section*/
.header-section {
  display: block;
  position: relative;
  left: 10vw;
  width: 80vw; }

.wrapper-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 13.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrapper-header img {
    width: 34.7rem;
    height: 5.8rem; }

.wrapper-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contacts-header span {
  margin-right: 14px;
  display: block;
  color: #505050; }
  .contacts-header span:nth-child(1) {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Montserrat-SemiBold";
    line-height: 1.2;
    text-align: right; }
  .contacts-header span:nth-child(2) {
    font-size: 1.6rem;
    font-family: "Montserrat-Regular";
    line-height: 1.7; }

.button {
  background-color: #29abe0;
  border: none;
  width: 199px;
  height: 43px;
  border-radius: 15px;
  font-size: 1.4rem;
  font-family: "Montserrat-SemiBold";
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .button:hover {
    background-color: #54c5f3; }

.wrapper-banner {
  position: relative;
  width: 100vw;
  height: 87vh; }

.bg-img {
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2f36; }
  .bg-img::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

.social-ico {
  display: block;
  position: absolute;
  top: 37%;
  left: 1%; }
  .social-ico ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .social-ico ul li {
      margin-top: 3rem; }
      .social-ico ul li a {
        display: block;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .social-ico ul li a:hover {
          -webkit-transform: translateX(1rem);
              -ms-transform: translateX(1rem);
                  transform: translateX(1rem); }
      .social-ico ul li img {
        width: 2.4rem;
        height: auto; }

.slogan-box {
  position: absolute;
  top: 28%;
  right: 20%;
  color: #ffffff; }

.slogan {
  display: block;
  width: 32rem;
  margin: 3rem;
  cursor: default; }
  .slogan::before {
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 10.9rem;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .slogan:nth-child(3)::before {
    height: 12rem; }
  .slogan span {
    padding: 0;
    margin: 0;
    margin-left: 3rem; }
    .slogan span:nth-child(1) {
      font-family: "Montserrat-Bold";
      font-size: 4.5rem;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .slogan span:nth-child(1):hover {
        color: #29abe0; }
    .slogan span:nth-child(2) {
      font-family: "Montserrat-Medium";
      font-size: 2rem;
      display: block;
      margin-top: -7px; }

.mouse-down {
  position: absolute;
  top: 90%;
  left: 50%; }
  .mouse-down img {
    width: 2rem;
    height: auto; }

/*1 section END*/
/*2 section */
.review-section {
  width: 100vw;
  height: 100vh;
  position: relative; }

.container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
  outline: 1px solid red; }
  .navigation ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navigation ul li {
      display: inline-block;
      margin: 25px; }
      .navigation ul li a {
        text-decoration: none;
        font-size: 18px;
        font-family: "Montserrat-SemiBold";
        color: #2e2f36; }

/*2 section END*/
/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1900px) {
  /**/ }

@media only screen and (max-width: 1370px) {
  html, body {
    font-size: 8px; }
  /*Section 1*/
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .mouse-down {
    top: 87%; }
  /*Section 1 END*/
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Section 1*/
  .wrapper-header img {
    width: 25rem;
    height: auto; }
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contacts-header span:nth-child(1) {
      font-size: 1.2rem; }
    .contacts-header span:nth-child(2) {
      font-size: 1.1rem; }
  .button {
    width: 15rem;
    font-size: 1.1rem; }
  .social-ico {
    top: 28%;
    left: 20%; }
    .social-ico ul li {
      margin-top: 2rem; }
  .slogan-box {
    top: 17%;
    right: 8%; }
  /*Section 1 END*/
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /*Section 1*/
  .wrapper-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20.6rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper-header img {
      margin-top: 1rem;
      width: 32rem; }
  .wrapper-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0.9rem; }
  .button {
    margin-top: 0.9rem; }
  .bg-img {
    background-position: -25rem; }
    .bg-img::before {
      content: ''; }
  .social-ico {
    top: 1rem;
    left: 1rem; }
  .slogan-box {
    top: 5rem;
    left: 15rem; }
  .slogan span:nth-child(2) {
    font-size: 1.8rem; }
  .mouse-down {
    top: 75%; }
  /*Section 1 END*/
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
/*# sourceMappingURL=main.css.map */